# Notebook 1 - Fondamentaux Python pour l'IA
# Analyse de donn√©es m√©t√©orologiques en temps r√©el

üéØ Objectifs p√©dagogiques

Ma√Ætriser les structures de donn√©es Python essentielles
Consommer des APIs REST avec requests
Manipuler des donn√©es JSON et CSV
Cr√©er des visualisations basiques
Appliquer des statistiques descriptives

üå§Ô∏è Contexte du projet

Vous travaillez pour une startup AgTech qui d√©veloppe des solutions d'agriculture intelligente. Votre mission : analyser les donn√©es m√©t√©orologiques de plusieurs villes europ√©ennes pour optimiser les recommandations de plantation.

Partie 1 : Connexion aux APIs m√©t√©o

üîß Installation des biblioth√®ques


 √Ä ex√©cuter dans votre terminal ou cellule
# pip install requests pandas matplotlib seaborn numpy

In [1]:
#üì• Import et configuration
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta, date, time
import json
from dotenv import load_dotenv
import os

load_dotenv()

True

üåç API OpenWeatherMap (gratuite)

Inscription : Cr√©ez un compte sur openweathermap.org


Cl√© API : R√©cup√©rez votre cl√© gratuite (40 000 appels/mois)

In [2]:
API_KEY_OWM = os.getenv('API_KEY_OWM')
VC_API_KEY = os.getenv('VC_API_KEY')

TODAY = date.today()
SEVEN_DAYS_AGO = TODAY - timedelta(7)

# on combine la date TODAY avec un time.min qui retourne minuit et on transforme le tout en timestamp
TODAY_TIMESTAMP = int(datetime.combine(TODAY, time.min).timestamp())
SEVEN_DAYS_AGO_TIMESTAMP = int(datetime.combine(SEVEN_DAYS_AGO, time.min).timestamp())

print(TODAY_TIMESTAMP)

1753740000

In [3]:
def get_city_coordinates(city: str, api_key) -> dict:
    '''
    R√©cup√®re les coordonn√©es (latitude et longitude) d'une ville donn√©e en utilisant l'API OpenWeatherMap.

    args :
        city (str) : nom de la ville √† rechercher.

    returns :
        dict : dictionnaire contenant les informations de la ville dont la latitude ('lat') et la longitude ('lon').
        None : si la ville n'est pas trouv√©e ou en cas d'erreur.
    '''
    URL = 'http://api.openweathermap.org/geo/1.0/direct'
    params = {
        'q': city,
        'appid': api_key,
        'limit': 1
    }
    try:
        response = requests.get(URL, params=params)

        # g√©rer l'erreur 401
        if response.status_code == 401:
            print('401 Unauthorized: Invalid API key')
            return None

        data_raw: dict = response.json()[0]

        coords_dict = {
            'city_name': data_raw.get('name'),
            'lat': data_raw.get('lat'),
            'lon': data_raw.get('lon')
        }

        return coords_dict
    
    # g√©rer le cas o√π une ville n'est pas valide
    except IndexError:
        print(f'\'{city}\' is not a valid city')
    except Exception as e:
        print(f'error: {e}')

get_city_coordinates('montpellier', API_KEY_OWM)

{'city_name': 'Montpellier', 'lat': 43.6112422, 'lon': 3.8767337}

In [4]:
def get_weather_data(city: str, api_key) -> dict:
    """
    R√©cup√®re les donn√©es m√©t√©o actuelles pour une ville

    √âtapes √† compl√©ter :
    1. Construire l'URL avec les param√®tres
    2. Faire l'appel API avec requests.get()
    3. V√©rifier le status code
    4. Retourner les donn√©es JSON
    """
    try:
        city_coords = get_city_coordinates(city, api_key)

        if city_coords == None:
            print(f'Error: Couldn\'t get city data for \'{city}\'')
            return None

        latitude = city_coords['lat']
        longitude = city_coords['lon']

        URL = 'https://api.openweathermap.org/data/2.5/weather'
        params = {
            'lat': latitude,
            'lon': longitude,
            'appid': api_key,
            'units': 'metric',
            'lang': 'fr'
        }

        response = requests.get(URL, params=params)
        print(f'status code: {response.status_code}')
        return response.json()

    except Exception as e:
        print(f'error: {e}')

weather_in_montpellier = get_weather_data('montpellier', API_KEY_OWM)
print(weather_in_montpellier)

status code: 200
{'coord': {'lon': 3.8767, 'lat': 43.6112}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'ciel d√©gag√©', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 28.59, 'feels_like': 27.6, 'temp_min': 28.59, 'temp_max': 29.69, 'pressure': 1013, 'humidity': 31, 'sea_level': 1013, 'grnd_level': 1005}, 'visibility': 10000, 'wind': {'speed': 8.23, 'deg': 360}, 'clouds': {'all': 0}, 'dt': 1753808586, 'sys': {'type': 2, 'id': 2038454, 'country': 'FR', 'sunrise': 1753763426, 'sunset': 1753816277}, 'timezone': 7200, 'id': 2992166, 'name': 'Montpellier', 'cod': 200}

In [5]:
# Villes √† analyser (agriculture europ√©enne)
CITIES = ["Paris", "Berlin", "Madrid", "Roma, Lazio", "Amsterdam", "Vienna"] # Changement de 'Rome' pour 'Roma, Lazio' par n√©cessit√© de pr√©cision pour une API

for city in CITIES:
    weather = get_weather_data(city, API_KEY_OWM)
    print(f'weather in {city}: {weather}\n')

status code: 200
weather in Paris: {'coord': {'lon': 2.32, 'lat': 48.8589}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'nuageux', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 18.99, 'feels_like': 19.11, 'temp_min': 17.86, 'temp_max': 20.66, 'pressure': 1019, 'humidity': 83, 'sea_level': 1019, 'grnd_level': 1009}, 'visibility': 10000, 'wind': {'speed': 4.63, 'deg': 310}, 'clouds': {'all': 75}, 'dt': 1753808449, 'sys': {'type': 1, 'id': 6550, 'country': 'FR', 'sunrise': 1753762803, 'sunset': 1753817647}, 'timezone': 7200, 'id': 6545270, 'name': 'Quartier du Palais-Royal', 'cod': 200}

status code: 200
weather in Berlin: {'coord': {'lon': 13.3889, 'lat': 52.517}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'peu nuageux', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 20.38, 'feels_like': 20.17, 'temp_min': 19.46, 'temp_max': 21.12, 'pressure': 1012, 'humidity': 65, 'sea_level': 1012, 'grnd_level': 1007}, 'visibility': 10000, 'wind': {'speed': 5.66, 'deg': 270}, 'clouds': {'all': 20}, 'dt': 1753808521, 'sys': {'type': 2, 'id': 2009543, 'country': 'DE', 'sunrise': 1753759288, 'sunset': 1753815849}, 'timezone': 7200, 'id': 7576815, 'name': 'Alt-K√∂lln', 'cod': 200}

status code: 200
weather in Madrid: {'coord': {'lon': -3.7036, 'lat': 40.4167}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'ciel d√©gag√©', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 30.65, 'feels_like': 29.02, 'temp_min': 29.23, 'temp_max': 31.68, 'pressure': 1015, 'humidity': 25, 'sea_level': 1015, 'grnd_level': 942}, 'visibility': 10000, 'wind': {'speed': 3.09, 'deg': 30}, 'clouds': {'all': 0}, 'dt': 1753808298, 'sys': {'type': 2, 'id': 2084029, 'country': 'ES', 'sunrise': 1753765760, 'sunset': 1753817582}, 'timezone': 7200, 'id': 3117735, 'name': 'Madrid', 'cod': 200}

status code: 200
weather in Roma, Lazio: {'coord': {'lon': 12.4829, 'lat': 41.8933}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'peu nuageux', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 28.73, 'feels_like': 28.34, 'temp_min': 27.67, 'temp_max': 29.55, 'pressure': 1010, 'humidity': 40, 'sea_level': 1010, 'grnd_level': 1001}, 'visibility': 10000, 'wind': {'speed': 5.66, 'deg': 10}, 'clouds': {'all': 20}, 'dt': 1753808578, 'sys': {'type': 2, 'id': 2000926, 'country': 'IT', 'sunrise': 1753761642, 'sunset': 1753813930}, 'timezone': 7200, 'id': 3169070, 'name': 'Rome', 'cod': 200}

status code: 200
weather in Amsterdam: {'coord': {'lon': 4.8936, 'lat': 52.3728}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'peu nuageux', 'icon': '02d'}], 'base': 'stations', 'main': {'temp': 19.91, 'feels_like': 19.55, 'temp_min': 19.38, 'temp_max': 21.05, 'pressure': 1016, 'humidity': 61, 'sea_level': 1016, 'grnd_level': 1016}, 'visibility': 10000, 'wind': {'speed': 5.66, 'deg': 310}, 'clouds': {'all': 20}, 'dt': 1753808391, 'sys': {'type': 2, 'id': 2012552, 'country': 'NL', 'sunrise': 1753761366, 'sunset': 1753817848}, 'timezone': 7200, 'id': 2759794, 'name': 'Amsterdam', 'cod': 200}

status code: 200
weather in Vienna: {'coord': {'lon': 16.3725, 'lat': 48.2084}, 'weather': [{'id': 501, 'main': 'Rain', 'description': 'pluie mod√©r√©e', 'icon': '10d'}], 'base': 'stations', 'main': {'temp': 18.49, 'feels_like': 18.35, 'temp_min': 15.67, 'temp_max': 19.96, 'pressure': 1015, 'humidity': 75, 'sea_level': 1015, 'grnd_level': 988}, 'visibility': 10000, 'wind': {'speed': 7.72, 'deg': 310}, 'rain': {'1h': 2.62}, 'clouds': {'all': 0}, 'dt': 1753808445, 'sys': {'type': 2, 'id': 2037452, 'country': 'AT', 'sunrise': 1753759563, 'sunset': 1753814141}, 'timezone': 7200, 'id': 2775259, 'name': 'Inner city', 'cod': 200}

**Questions de d√©bogage :**
- Que faire si l'API retourne une erreur 401 ?
- Comment g√©rer une ville introuvable ?

---

## Partie 2 : API compl√©mentaire - Donn√©es historiques

### üìä API Visual Crossing Weather (gratuite)
Alternative avec 1000 appels/jour gratuits : [visualcrossing.com](https://www.visualcrossing.com/weather-api)

In [6]:
# Configuration Visual Crossing
VC_BASE_URL = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline"

def get_historical_weather(city, start_date, end_date, api_key):
    """
    R√©cup√®re les donn√©es m√©t√©o historiques

    D√©fis √† r√©soudre :
    1. Construire l'URL avec les dates
    2. G√©rer la pagination si n√©cessaire
    3. Extraire les donn√©es pertinentes du JSON complexe
    4. Convertir en DataFrame pandas
    """
    try:
        URL = f"{VC_BASE_URL}/{city}/{start_date}/{end_date}"
        params = {
            'key': api_key,
            'include': 'days',
            'elements': 'datetime,temp,humidity,precip,windspeed,pressure'
        }

        response  = requests.get(URL, params)
        # print(response.status_code)

        # g√©rer l'erreur 400
        if response.status_code == 400:
            print(f'400 Bad Request: \'{city}\' is not a valid city')
            return None

        # g√©rer l'erreur 401
        if response.status_code == 401:
            print('401 Unauthorized: Invalid API key')
            return None

        data = response.json()

        weather_list = [
            {
                'date': day.get('datetime'),
                # 'ville': data.get('resolvedAddress'),
                'ville': city,
                'temperature': day.get('temp'),
                "humidite": day.get('humidity'),
                "precipitation": day.get('precip'),
                "vent": day.get('windspeed'),
                # "pressure": day.get('pressure')
            }
            for day in data.get('days')
            ]
        # print(weather_list)

        df_weather = pd.DataFrame(weather_list)
        df_weather.head()

        return df_weather
    
    except Exception as e:
        print(f'error: {e}')

get_historical_weather('montpellier', '2000-10-16', '2000-10-17', VC_API_KEY)

         date        ville  temperature  humidite  precipitation  vent
0  2000-10-16  montpellier         56.0      83.6          0.034   9.4
1  2000-10-17  montpellier         60.6      68.9          0.000  13.8

### üéØ Mission pratique
R√©cup√©rez les donn√©es des 7 (et non 30) derniers jours pour toutes vos villes et cr√©ez un DataFrame consolid√©.

**Structure attendue :**
```
| date       | ville     | temperature | humidite | precipitation | vent |
|------------|-----------|-------------|----------|---------------|------|
| 2024-01-01 | Paris     | 12.5        | 75       | 2.3          | 15   |
```

---

In [7]:
list_cities_weather = []

for i in CITIES:
    city_info = get_historical_weather(i, SEVEN_DAYS_AGO, TODAY, VC_API_KEY)
    list_cities_weather.append(city_info)

df_cities_weather = pd.concat(list_cities_weather)

df_cities_weather.head(80)

         date        ville  temperature  humidite  precipitation  vent
0  2025-07-22        Paris         66.6      71.0          0.002  10.4
1  2025-07-23        Paris         66.6      74.3          0.079   8.4
2  2025-07-24        Paris         65.2      83.8          0.489   9.6
3  2025-07-25        Paris         69.3      72.8          0.000   7.6
4  2025-07-26        Paris         70.6      67.6          0.000  10.0
5  2025-07-27        Paris         65.9      78.8          0.221  14.4
6  2025-07-28        Paris         66.0      65.9          0.000   8.6
7  2025-07-29        Paris         63.0      75.7          0.032  10.3
0  2025-07-22       Berlin         63.5      86.8          0.256  14.4
1  2025-07-23       Berlin         65.1      83.8          1.090  15.5
2  2025-07-24       Berlin         67.2      80.5          0.024  10.3
3  2025-07-25       Berlin         68.0      84.7          0.166  12.1
4  2025-07-26       Berlin         66.8      78.4          0.099  11.4
5  2025-07-27       Berlin         68.6      69.7          0.000  11.4
6  2025-07-28       Berlin         68.1      72.2          0.112  18.3
7  2025-07-29       Berlin         65.2      66.5          0.000  15.0
0  2025-07-22       Madrid         78.3      28.3          0.000  10.7
1  2025-07-23       Madrid         78.0      36.4          0.000  10.0
2  2025-07-24       Madrid         73.5      39.9          0.000  12.7
3  2025-07-25       Madrid         72.1      38.0          0.000  10.7
4  2025-07-26       Madrid         76.3      36.2          0.000   9.3
5  2025-07-27       Madrid         81.2      30.7          0.000  12.8
6  2025-07-28       Madrid         79.4      33.6          0.000  11.3
7  2025-07-29       Madrid         74.1      38.7          0.000  12.2
0  2025-07-22  Roma, Lazio         81.3      67.9          0.000  11.1
1  2025-07-23  Roma, Lazio         78.4      67.6          0.000  11.2
2  2025-07-24  Roma, Lazio         78.2      65.0          0.001  11.7
3  2025-07-25  Roma, Lazio         81.9      46.3          0.000  14.0
4  2025-07-26  Roma, Lazio         78.0      65.3          0.055  13.6
5  2025-07-27  Roma, Lazio         76.0      61.9          0.004  13.6
6  2025-07-28  Roma, Lazio         74.0      76.7          0.216  14.5
7  2025-07-29  Roma, Lazio         74.8      59.8          0.000  16.5
0  2025-07-22    Amsterdam         66.6      82.8          0.230  18.6
1  2025-07-23    Amsterdam         67.1      81.7          0.022  13.0
2  2025-07-24    Amsterdam         67.3      79.1          0.000  12.2
3  2025-07-25    Amsterdam         67.5      80.2          0.025  10.5
4  2025-07-26    Amsterdam         67.5      79.6          0.016  16.2
5  2025-07-27    Amsterdam         65.2      76.2          0.130  15.7
6  2025-07-28    Amsterdam         64.1      75.0          0.024  17.8
7  2025-07-29    Amsterdam         65.3      63.9          0.000  12.3
0  2025-07-22       Vienna         73.5      49.8          0.000  17.9
1  2025-07-23       Vienna         74.3      55.0          0.000  11.2
2  2025-07-24       Vienna         74.2      64.1          0.926  13.4
3  2025-07-25       Vienna         72.0      66.8          0.028  11.2
4  2025-07-26       Vienna         68.1      88.9          0.677  11.4
5  2025-07-27       Vienna         68.4      77.6          0.020  19.7
6  2025-07-28       Vienna         68.5      68.4          0.056  21.9
7  2025-07-29       Vienna         66.1      70.8          0.004  20.8

In [8]:
## Partie 3 : API suppl√©mentaire - Qualit√© de l'air

### üå¨Ô∏è API OpenWeatherMap Air Pollution
def get_air_quality(city, start, end, api_key):
    """
    R√©cup√®re les donn√©es de qualit√© de l'air

    URL : http://api.openweathermap.org/data/2.5/air_pollution

    √âtapes :
    1. Utiliser les coordonn√©es lat/lon des villes
    2. R√©cup√©rer l'indice AQI et les composants (PM2.5, PM10, O3, etc.)
    3. Joindre ces donn√©es avec vos donn√©es m√©t√©o
    """
    city_coords = get_city_coordinates(city, api_key)

    if city_coords == None:
        return None

    lat = city_coords.get('lat')
    lon = city_coords.get('lon')
    
    URL = 'http://api.openweathermap.org/data/2.5/air_pollution/history'
    params = {
        'lat': lat,
        'lon': lon,
        'start': start,
        'end': end,
        'appid': api_key
    }

    try:
        response = requests.get(URL, params)
        response.raise_for_status()

        response_data = response.json()
        # print(response.url)

        air_quality_info = [{
                'ville': city,
                'date': i.get('dt'),
                'aqi': i.get('main', {}).get('aqi'),
                **i.get('components')
            }
            for i in response_data.get('list')]

        df_air_quality = pd.DataFrame(air_quality_info)

        # convertir le timestamp en datetime puis ne garder que la date
        df_air_quality['date'] = pd.to_datetime(df_air_quality['date'], unit='s').dt.date

        # on groupe par date et par ville pour n'avoir qu'une seule valeur par jour et par ville et on reset index car autrement date et ville deviennent l'index du df ce qu'on ne veut surtout pas
        df_air_quality_day_by_day = df_air_quality.groupby(['date', 'ville']).mean().reset_index()

        return df_air_quality_day_by_day
    except requests.exceptions.HTTPError as http_e:
        if response.status_code == 401:
            print('401 Unauthorized: Invalid API key')
    except Exception as e:
        print(f'error: {e}')

get_air_quality('montpellier', SEVEN_DAYS_AGO_TIMESTAMP, TODAY_TIMESTAMP, API_KEY_OWM)

,date,ville,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2025-07-21,montpellier,2.000000,113.570000,0.000000,1.295000,70.030000,0.220000,1.490000,3.630000,2.815000
1,2025-07-22,montpellier,1.875000,107.933333,0.073333,0.957500,71.911250,0.267083,2.330000,5.799167,1.432500
2,2025-07-23,montpellier,1.583333,109.961667,0.113333,1.985833,61.035417,0.251250,2.604167,6.193750,1.945000
3,2025-07-24,montpellier,2.000000,119.517917,0.027917,0.983333,67.979167,0.101667,0.758333,2.128750,0.860417
4,2025-07-25,montpellier,2.000000,109.456667,0.049167,0.828333,80.224583,0.104167,1.011250,2.267917,1.231250
5,2025-07-26,montpellier,2.000000,106.713333,0.036250,0.576250,86.440417,0.099583,1.836667,3.348333,1.096250
6,2025-07-27,montpellier,2.000000,101.516667,0.033750,0.551250,72.890833,0.142500,1.879583,3.956250,1.134167
7,2025-07-28,montpellier,2.000000,130.824348,0.043043,0.582174,78.697391,0.191304,1.446522,3.506522,1.278261

In [16]:
def get_multiple_cities_air_quality(cities: list, api_key) -> pd.DataFrame:
    city_list = cities
    if not city_list:
        print('List needs to be filled with city names')
        return None

    all_cities_df_list = [get_air_quality(i, SEVEN_DAYS_AGO_TIMESTAMP, TODAY_TIMESTAMP, api_key) for i in city_list]
    
    # on ne garde que le contenu interessant de all_cities_df_list, on g√®re le cas o√π une ou plusieurs villes sont invalides
    valid_content = [i for i in all_cities_df_list if i is not None]
    if not valid_content:
        print('No data was returned')
        return None
        
    # on reset index car ils allaient de 0 √† 7 puis retournaient √† 0
    df_all_cities = pd.concat(valid_content).reset_index(drop=True)

    return df_all_cities

get_multiple_cities_air_quality(CITIES, API_KEY_OWM)

,date,ville,aqi,co,no,no2,o3,so2,pm2_5,pm10,nh3
0,2025-07-21,Paris,2.000000,103.335000,0.000000,0.980000,66.265000,0.245000,1.910000,2.915000,1.540000
1,2025-07-22,Paris,1.500000,95.667083,0.057500,1.082083,58.319583,0.242500,1.695833,3.046667,1.590833
2,2025-07-23,Paris,1.375000,104.633750,0.194167,2.203750,44.929167,0.082083,1.072917,1.562083,1.426667
3,2025-07-24,Paris,1.458333,111.827500,0.093333,2.157917,55.237083,0.186250,2.472083,2.632083,1.012083
4,2025-07-25,Paris,1.416667,110.782083,0.188750,2.003333,59.766250,0.200000,4.155417,4.651250,1.419167
5,2025-07-26,Paris,1.416667,109.020000,0.132917,1.542500,58.380000,0.244583,3.303750,4.622083,1.724167
6,2025-07-27,Paris,1.583333,108.162917,0.062500,1.188750,58.937083,0.272500,2.092917,2.917917,1.682917
7,2025-07-28,Paris,1.782609,147.483043,0.133913,1.550870,74.824783,0.607391,2.357391,3.232609,1.869130
8,2025-07-21,Berlin,1.000000,114.380000,0.000000,5.390000,37.105000,0.755000,2.415000,2.740000,1.770000
9,2025-07-22,Berlin,1.541667,117.079583,0.185833,2.698750,62.577917,0.698750,1.009167,1.205833,1.883333
10,2025-07-23,Berlin,1.791667,111.104583,0.137500,2.563333,73.432917,0.775833,1.464583,1.715000,2.271250
11,2025-07-24,Berlin,1.375000,117.517500,0.165417,5.519583,57.937500,0.829167,2.268750,2.938333,4.167083
12,2025-07-25,Berlin,1.458333,115.692083,0.251667,4.578333,58.420417,0.752917,2.205000,2.933750,3.245833
13,2025-07-26,Berlin,1.500000,109.872083,0.091250,2.995000,58.647083,0.667083,1.490833,2.629583,3.385000
14,2025-07-27,Berlin,1.500000,112.526667,0.343333,4.004583,55.651250,0.665000,2.227500,3.250000,5.360000
15,2025-07-28,Berlin,1.304348,121.364348,0.170000,2.846957,50.082174,0.693478,1.494783,1.802609,1.871304
16,2025-07-21,Madrid,2.000000,111.710000,0.000000,0.970000,78.980000,0.060000,2.070000,3.745000,5.440000
17,2025-07-22,Madrid,2.166667,104.645417,0.077917,0.925417,83.642500,0.096250,1.562917,3.333333,5.161250
18,2025-07-23,Madrid,1.791667,96.381250,0.045833,0.831667,67.804583,0.114167,2.132917,4.473750,4.232917
19,2025-07-24,Madrid,1.958333,103.367083,0.075000,1.150000,80.431250,0.090000,1.704167,3.147083,3.563333
20,2025-07-25,Madrid,2.166667,103.181250,0.061667,0.912500,83.125833,0.061250,0.802500,1.385000,2.407500
21,2025-07-26,Madrid,1.916667,99.449583,0.134167,1.720833,77.660417,0.077917,1.380000,2.373333,5.365417
22,2025-07-27,Madrid,1.916667,92.052917,0.101250,1.322083,78.845417,0.085000,1.412500,2.332500,6.194583
23,2025-07-28,Madrid,2.043478,91.461304,0.153913,1.417391,80.858261,0.133913,2.479130,3.697826,6.005652
24,2025-07-21,"Roma, Lazio",2.000000,98.250000,0.000000,0.425000,70.265000,0.735000,23.270000,47.085000,0.000000
25,2025-07-22,"Roma, Lazio",2.000000,108.013333,0.024583,0.361667,82.385000,0.585833,5.369583,19.180833,0.387083
26,2025-07-23,"Roma, Lazio",2.000000,100.255417,0.018750,0.304583,81.300833,0.502083,3.351250,12.593750,0.409167
27,2025-07-24,"Roma, Lazio",2.000000,102.007500,0.011250,0.243333,77.578750,0.500417,4.078333,12.127500,0.206667
28,2025-07-25,"Roma, Lazio",2.000000,106.383333,0.017917,0.375833,82.558750,0.975000,7.169167,21.422500,0.352083
29,2025-07-26,"Roma, Lazio",2.000000,109.777083,0.020833,0.410000,91.324583,0.364583,2.623333,8.263750,0.522500
30,2025-07-27,"Roma, Lazio",2.541667,111.577500,0.020417,0.374583,101.622083,0.486250,4.563333,15.693750,0.833333
31,2025-07-28,"Roma, Lazio",2.086957,107.856957,0.019565,0.368261,82.579130,0.460870,4.067391,19.118261,0.680000
32,2025-07-21,Amsterdam,1.500000,128.165000,0.000000,8.225000,62.035000,1.845000,2.230000,3.105000,2.100000
33,2025-07-22,Amsterdam,1.708333,125.453333,0.310417,6.722083,68.315000,1.776667,2.152500,3.314167,2.350000
34,2025-07-23,Amsterdam,1.500000,122.763750,0.462083,10.279583,62.377500,2.139167,3.669167,5.437500,2.556667
35,2025-07-24,Amsterdam,1.416667,136.765833,1.067917,17.065417,52.804583,2.393750,5.159583,7.733333,3.314167
36,2025-07-25,Amsterdam,1.625000,146.507500,2.036667,20.727500,55.435833,2.544583,4.835833,8.452083,3.375000
37,2025-07-26,Amsterdam,1.833333,147.470417,1.439583,16.889583,58.206250,2.423750,6.882500,9.692917,5.708333
38,2025-07-27,Amsterdam,1.541667,131.638333,0.166667,10.130417,59.437917,1.679167,2.776667,3.612917,2.405833
39,2025-07-28,Amsterdam,1.478261,148.673043,0.256957,9.433913,62.119130,1.785217,1.691304,2.853478,2.994783
40,2025-07-21,Vienna,1.000000,110.180000,0.000000,3.690000,51.300000,0.735000,1.215000,1.760000,3.475000
41,2025-07-22,Vienna,1.333333,112.157917,0.596667,5.105833,47.165417,0.676667,2.364167,3.210000,4.536250
42,2025-07-23,Vienna,1.375000,111.932917,0.290417,5.311250,51.240833,0.709167,2.632500,3.366667,5.283750
43,2025-07-24,Vienna,1.375000,115.358333,0.329583,5.575833,47.719583,0.785417,3.980000,4.954583,3.741667
44,2025-07-25,Vienna,1.250000,113.645417,0.432917,5.855000,39.941667,0.801667,3.627083,4.377083,4.476667
45,2025-07-26,Vienna,1.000000,107.251667,0.152500,5.263750,26.119583,0.611667,3.206667,3.647500,4.191250
46,2025-07-27,Vienna,1.000000,105.549167,0.117917,2.613750,38.985833,0.389167,1.275000,1.508333,1.296250
47,2025-07-28,Vienna,1.000000,106.881304,0.266087,3.170870,43.557826,0.530870,0.786522,1.111739,1.725217

In [17]:
print(get_multiple_cities_air_quality(['qqqqqqq','wwwwwwwww','eeeeeeeeeee'], API_KEY_OWM))
print(get_multiple_cities_air_quality(['montpellier','paris','lyon'], 'API_KEY_OWM'))

'qqqqqqq' is not a valid city
'wwwwwwwww' is not a valid city
'eeeeeeeeeee' is not a valid city
No data was returned
None
401 Unauthorized: Invalid API key
401 Unauthorized: Invalid API key
401 Unauthorized: Invalid API key
No data was returned
None


## Partie 4 : Analyse et visualisation

### üìà Analyses √† r√©aliser

1. **Comparaison inter-villes**
   - Temp√©ratures moyennes par ville
   - Variabilit√© climatique (√©cart-type)
   - Corr√©lations temp√©rature/humidit√©

2. **Tendances temporelles**
   - √âvolution sur 30 jours
   - Identification des patterns

3. **Qualit√© de l'air vs m√©t√©o**
   - Impact de la pluie sur la pollution
   - Corr√©lations vent/qualit√© de l'air

In [11]:
### üí° Visualisations guid√©es

# 1. Heatmap des temp√©ratures par ville et jour
plt.figure(figsize=(15, 8))

# Cr√©ez un pivot table : villes en colonnes, dates en lignes
# Utilisez seaborn.heatmap()

# 2. Boxplot comparatif des pr√©cipitations
# Utilisez seaborn.boxplot()

# 3. Scatter plot qualit√© air vs temp√©rature
# Ajoutez une regression line avec seaborn.regplot()

# 4. faire un line chart pour comparer les villes

## Partie 5 : API bonus - Donn√©es agricoles

### üå± API AgroMonitoring (gratuite)

In [12]:
# API satellite pour l'agriculture
AGRO_API_KEY = "VOTRE_CLE_AGROMONITORING"

def get_soil_data(polygon_coordinates, api_key):
    """
    R√©cup√®re des donn√©es de sol via satellite
    URL : http://api.agromonitoring.com/agro/1.0/

    Donn√©es disponibles :
    - Indices de v√©g√©tation (NDVI)
    - Humidit√© du sol
    - Temp√©rature de surface
    """
    pass


**D√©fi avanc√© :** Cr√©ez des recommandations de plantation bas√©es sur :
- Donn√©es m√©t√©o des 30 derniers jours
- Pr√©visions √† 5 jours
- Qualit√© de l'air
- Indices de v√©g√©tation satellite

## üèÜ Livrables attendus

### üìä Dashboard m√©t√©o
Cr√©ez un tableau de bord contenant :
1. **Aper√ßu temps r√©el** des 6 villes
2. **Graphiques de tendances** sur 30 jours
3. **Alertes qualit√© de l'air** (AQI > 100)
4. **Recommandations agricoles** par ville

In [13]:
### üì± Format de pr√©sentation

def generate_weather_report(city_data):
    """
    G√©n√®re un rapport automatis√©

    Format :
    - R√©sum√© ex√©cutif (3 lignes)
    - M√©triques cl√©s (tableaux)
    - Graphiques (4 visualisations)
    - Recommandations (bullet points)
    """
    pass

---

## üéì Crit√®res d'√©valuation

- [ ] **APIs fonctionnelles** : Toutes les connexions API marchent
- [ ] **Gestion d'erreurs** : Code robuste avec try/except
- [ ] **Qualit√© des donn√©es** : Validation et nettoyage
- [ ] **Visualisations** : Graphiques informatifs et esth√©tiques
- [ ] **Insights business** : Recommandations bas√©es sur les donn√©es

### üîó Pr√©paration au Notebook 2
Le prochain notebook utilisera une vraie base de donn√©es PostgreSQL h√©berg√©e pour analyser des donn√©es de ventes e-commerce, en croisant avec vos donn√©es m√©t√©o pour des analyses g√©olocalis√©es.

### üìö APIs alternatives (si quotas d√©pass√©s)
- **WeatherAPI** : 1M appels/mois gratuits
- **AccuWeather** : 50 appels/jour gratuits  
- **Climatiq** : Donn√©es climat et carbone
- **NASA APIs** : Donn√©es satellite gratuites